<%- include ./partials/header.ejs -%>

<h1>Home</h1>
<p>
    <%= homeCont %>
</p>

<% for(let i=0;i<postshome.length;i++) { %>
    <h1> <%- postshome[i].title %> </h1>
<p>
    <%- postshome[i].content.substring(0,100)+'...' %>
    <a href="/posts/<%- postshome[i].title %>">Read more</a>
</p>
<% } %>


<%- include ./partials/footer.ejs -%>

